.dashboardLayout {
  display: flex;
  min-height: 100vh;
  background: #f6f6f6;
}

/* SIDEBAR */
/* .sidebar {
  width: 240px;
  background: #fff;
  transition: all 0.3s ease;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
} */
.sidebar {
  width: 260px;
  height: 100vh;
  background: linear-gradient(180deg, #2e3440, #1f2933);
  color: #fff;
  padding: 20px;
  border-radius: 0px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 0;
  cursor: pointer;
}

/* MAIN CONTENT */
.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOP BAR */
.topbar {
  height: 60px;
  background: linear-gradient(180deg, #2e3440, #1f2933);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.menuToggle {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* PAGE CONTENT */
.pageContent {
  padding: 20px;
}

/* PROFILE */
.profileMenu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dots {
  cursor: pointer;
  font-size: 20px;
}

/* ===== SIDEBAR CLOSE ===== */
.menu-close .sidebar {
  width: 0;
  padding: 0;
  overflow: hidden;
}


/* MENU */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  cursor: pointer;
  font-size: 14px;
}

.menuItem:hover {
  background: #101010d5;
}

/* ACTIVE ITEM */
.menuItem.active {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  position: relative;
}

.menuItem.active::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 60%;
  background: #f5b942;
  border-radius: 10px;
}

/* ICON */
.icon {
  font-size: 18px;
}

.logout {
  color: #e74c3c;
}
.profile {
  color: #1d8c39;
}
.profileDropdown {
  position: absolute;
  top: 38px;
  right: 0;
  width: 160px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  overflow: hidden;
  animation: fadeIn 0.2s ease;
  z-index: 999;
}
.divider {
  height: 1px;
  background: #eee;
}