* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.page-container {
  min-height: 100vh;
  background: #f6f7fb;
  padding: 40px 20px;
}

.content-wrapper {
  /* max-width: 1100px; */
  margin: auto;
}

/* Form Card */
.form-card {
  background: #fff;
  border-radius: 14px;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}

.form-card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form-card hr {
  border: none;
  height: 1px;
  background: #eee;
  margin-bottom: 30px;
}

.form-group {
  max-width: 500px;
  margin: auto;
}

.form-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.btn-primary {
  background: #e1aa2b;
  border: none;
  padding: 12px 26px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.btn-secondary {
  background: #f3f3f3;
  border: 1px solid #ddd;
  padding: 12px 26px;
  border-radius: 10px;
  cursor: pointer;
}

/* Table */
.table-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #fafafa;
}

th, td {
  padding: 16px 20px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  font-weight: 600;
}

/* Badges */
.badge {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}

.stock {
  background: #2ecc71;
}

.sale {
  background: #f39c12;
}

.left {
  background: #e74c3c;
}

/* Responsive */
@media (max-width: 768px) {
  .form-card {
    padding: 25px;
  }

  th, td {
    padding: 12px;
  }

  .btn-group {
    flex-direction: column;
  }
}

.dropdown-select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.active {
  background: #2ecc71;
}


.deactive {
  background: #e74c3c;
}